<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Catalea Trading - Research Service</title>
  <link rel="stylesheet" href="../content/style.css">
</head>
<body>
  <header>
    <a href="../"><img name="logo" src="../content/catalea-logo.png" /></a>
  </header>

  <main>
    <div class='companyInfoTable'>
      <div class="table-title">
        <h3>Company info</h3>
      </div>
      <table class="table-fill">
        <thead>
          <tr>
            <th class="text-left">Company name</th>
            <th class="text-left">CIK Number</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          <tr>
            <td class="text-left">{{companyName}}</td>
            <td class="text-left">{{companyCik}}</td>
          </tr>
        </tbody>
      </table>
      <a href='/' class='back_btn'>Go Back</a>
    </div>
    <div class='financialsTable'>
      <div class="table-title">
        <h3>Financials</h3>
      </div>
      <table class="table-fill">
        <thead>
          <tr>
            <th class="text-left">Type</th>
            <th class="text-left">Date</th>
            <th class="text-left">File</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          {{financialFiles}}
        </tbody>
      </table>
    </div>
  </main>

  <footer>
    <div class="footer-content">
      <h3>Designed for Better Research</h3>
      <p>
        Catalea offers you the advantage of reading SEC filings online with easier-to-read text, faster navigation within a filing.
      </p>
    </div>
    <div class="footer-content">
      <h3>Boost your Investment Decisions</h3>
      <p>
        Find the latest and most important information about the public companies. Just select the firm and the document.
      </p>
    </div>
    <div class="footer-content">
      <h3>All your Work in One Place</h3>
      <p>
        Because we are secure in the cloud, your research is safe, accessible from any computer, and available right where you left off.
      </p>
    </div>
  </footer>
</body>
</html>