<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Catalea Trading - Research Service</title>
  <link rel="stylesheet" href="../content/style.css">
</head>
<body>
  <header>
    <a href="../"><img name="logo" src="../content/catalea-logo.png" /></a>
  </header>

  <main>
      <a href='/' class='back_btn'>Go Back</a>
    </div>
  </main>

  <footer>
    <div class="footer-content">
      <h3>Designed for Better Research</h3>
      <p>
        Catalea offers you the advantage of reading SEC filings online with easier-to-read text, faster navigation within a filing.
      </p>
    </div>
    <div class="footer-content">
      <h3>Boost your Investment Decisions</h3>
      <p>
        Find the latest and most important information about the public companies. Just select the firm and the document.
      </p>
    </div>
    <div class="footer-content">
      <h3>All your Work in One Place</h3>
      <p>
        Because we are secure in the cloud, your research is safe, accessible from any computer, and available right where you left off.
      </p>
    </div>
  </footer>
</body>
</html>