@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
  background-image: url('./background.jpg');
  background-repeat: repeat-y;
  background-size: 100%;
  /*background-color: #0d497a;*/
  color: white;
}

input {
  display: block;
  margin: 0 auto;
}

input[type="text"] {
  margin-top: 50px;
  background: #69a2d3;
  height: 30px;
  width: 300px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  padding: 5px;
  color: white;
  border: 1px solid #a1db5a;
  border-radius: 3px;
}

input[type="text"]::placeholder {
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: white;
}

input[type="submit"] {
  background-color: #a1db5a;
  margin-top: 15px;
  border: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: white;
  padding: 15px;
  border-radius: 6px;
}

.back_btn {
  text-decoration: none;
  display: inline-block;
  background-color: #a1db5a;
  margin-top: 25px;
  border: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: white;
  padding: 15px;
  border-radius: 6px;
}

img[name="logo"] {
  width: 550px;
  display: block;
  margin: 20px auto;
}

footer {
  display: table;
  width: 90%;
  margin: 0 auto;
  table-layout: fixed; 
  border-spacing: 50px;
}

.footer-content {
  display: table-cell;
  text-align: justify;
}

h3 {
  padding: 5px;
  border-bottom: 2px solid #a1db5a;
  font-weight: 400;
}

p {
  padding: 0;
  margin-top: -10px;
}

.take-report-bnt > a {
  text-decoration: none;  
  font-size: 20px;
  color: white;
}

.take-report-bnt {
  padding: 10px;
  display: inline-block;
  background-color: #a1db5a;
  margin-top: 15px;
  border: 0px;
  border-radius: 6px;
}

.companyInfoTable {
  float: left;
  margin-left: 30px;
  width: 30%;
}

.financialsTable {
  float: right;
  width: 65%;
  margin-right: 30px;
}

.financialsTable a {
  text-decoration: none;
}

/* table company info styles */


div.table-title {
  display: block;
  /*max-width: 30%;*/
  /*padding:5px;*/
}

.table-title h3 {
   color: #fafafa;
   font-size: 20px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-transform:uppercase;
}

/*** Table Styles **/

.table-fill {
  background: white;
  border: 1px solid #a1db5a;
  border-radius: 3px;
  border-collapse: collapse;
  /*max-width: 30%;*/
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:white;;
  background:#69a2d3;
  border: 1px solid #a1db5a;
  font-size: 20px;
  font-weight: 100;
  padding: 15px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#ccc;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#ccc;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

@media (max-width: 1250px) {
  .companyInfoTable {
    margin: 0 auto;
    width: 100%;
  }

  .financialsTable {
    margin: 0 auto;
    width: 100%;
  }

  .footer-content {
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  input[type="text"] {
    width: 90%;
  }
}

@media (max-width: 580px) {
  img[name="logo"] {
    width: 100%;
  }
}
div.table-title {
  display: block;
  /*max-width: 30%;*/
  /*padding:5px;*/
}

.table-title h3 {
   color: #fafafa;
   font-size: 20px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-transform:uppercase;
}

.table-links {
  cursor: pointer;
}