@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
  background-image: url('./background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  /*background-color: #0d497a;*/
  color: white;
}

input {
  display: block;
  margin: 0 auto;
}

input[type="text"] {
  margin-top: 50px;
  background: #69a2d3;
  height: 30px;
  width: 300px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  padding: 5px;
  color: white;
  border: 1px solid #a1db5a;
  border-radius: 3px;
}

input[type="text"]::placeholder {
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: white;
}

input[type="submit"] {
  background-color: #a1db5a;
  margin-top: 15px;
  border: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: white;
  padding: 15px;
  border-radius: 6px;
}

img[name="logo"] {
  width: 550px;
  display: block;
  margin: 20px auto;
}

#company-name {
  height: 250px;
  overflow-y: hidden;
  overflow-x: scroll;
}

footer {
  display: table;
  width: 90%; /*Optional*/
  margin: 0 auto;
  table-layout: fixed; /*Optional*/
  border-spacing: 50px;
}

.footer-content {
  display: table-cell;
}

h3 {
  padding: 5px;
  border-bottom: 2px solid #a1db5a;
  font-weight: 400;
}

p {
  padding: 0;
  margin-top: -10px;
}

.take-report-bnt > a {
  text-decoration: none;  
  font-size: 20px;
  color: white;
}

.take-report-bnt {
  padding: 10px;
  display: inline-block;
  background-color: #a1db5a;
  margin-top: 15px;
  border: 0px;
  border-radius: 6px;
}